body{
    background-color: grey;
}
h1{
    color:aqua;
    text-align: center;
}
form{
    background-color: white;
    max-width: 350px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;


}